#results{
    height: 100vh;
}
#left{
    padding: 5px;
    overflow-y: scroll;
}
#right{
}
#divider{
    background-color: rgb(236, 124, 31);
}
#item{
    margin: 10px 0px;
    padding-left: 10px;
    background-color: rgba(212, 212, 212, 0.562);
    border-radius: 0px;
}